.wrap 
    form(action="/venuecapacityinsert" method="post")  
        p 
            | PLEASE SELECT THE VENUE YOU WISH TO CHECH AVAILABILITY
            br
            br
            select(name="venue" id="venue" )
                option(value="lbb011") LBB011  
                option(value="lbb016") LBB016  
                option(value="lbb011") LBB011  
                option(value="lbb011") LBB011  
                option(value="lbb011") LBB011  
                option(value="lbb011") LBB011  
                option(value="lbb011") LBB011  
                option(value="lbb011") LBB011  
                option(value="lbb011") LBB011  
                option(value="lbb011") LBB011  
                option(value="lbb011") LBB011  

            br
            | Capacity 
            br
            input(type='number', value="" , name="capacity")
            br
            input(type="submit" value="submit" name="submit")