extends layout 

block content 
    .wrap   
        form(action="/classplan" method="post")
            input(type="date" name="date" value="" required)
            br
            input(type="submit" value="Send msg" name="submit")